span.required-field {
    color: red;
}

.content {
    margin-top: 20px;
}



.toggle.ios,
.toggle-on.ios,
.toggle-off.ios,
.toggle-class {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

.mail-variables li span {
    color: red;
}

/* Login Page */
.login-logo {
    line-height: 1;
}

.login-logo .office-logo img {
    width: 80px;
    height: auto;
}

.login-logo .office-name {
    font-size: 25px;
    font-weight: 600;
}

.login-logo .office-unit {
    font-size: 20px;
    font-weight: 500;
}

.login-logo .app-name {
    font-size: 15px;
    font-weight: 400;
}

.login-box-footer {
    margin-top: 10px;
}

/* Login Page */

/* Sidebar */
.logo .logo-mini img,
.logo .logo-lg img {
    height: 35px;
}

.logo .logo-lg img {
    margin-right: 10px;
}

/* Sidebar */

.badge-success {
    background-color: green;
}

.badge-danger {
    background-color: red;
}

.version {
    font-size: 12px;
    font-style: italic;
    color: rgb(133, 131, 131);
}

label {
    font-weight: 500;
}

.required-field,
.required {
    color: red;
    font-style: italic;
}

.table>thead>tr>th {
    border-bottom: 1px solid #605ca8;
    color: #605ca8;
}

.pagination>.active>span {
    background-color: #605ca8;
    border-color: #605ca8;
}

.sidebar .sidebar-menu,
.sidebar .sidebar-menu ul li a {
    font-size: 12px;
}

.hint {
    font-size: 10px;
    font-style: italic;
    color: #919191;
}

.help-block,
.main-footer {
    font-size: 12px;
}

.header-info {
    font-size: 12px;
}

.horizontal-line {
    border-bottom: 1px solid #f4f4f4;
    margin: 15px 0;
}

.nav-tabs-custom {
    box-shadow: none;
}

.btn-margin {
    margin: 10px 40px;
}

.box {
    border-top: none !important;
}

#fullscreen {
    float: left;
    color: #fff;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
}

.beneficiary {
    background-color: rgb(228, 228, 228);
}

.form-check-label {
    cursor: pointer;
}

.client-search-btn {
    margin-top: 24px;
}

.form-group input:focus {
    outline: 0;
}

.form-group.error input,
.error select,
.error .select2-selection {
    border-color: #ff3860 !important;
}

.form-group.success input,
.success select,
.success .select2-selection {
    border-color: #09c372 !important;
}

.form-group .error,
.error .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.table>tbody>tr>td {
    vertical-align: middle !important;
}

.print-on-last-page-only {
    position: absolute;
    bottom: 0;
}

.signature {
    display: flex;
    justify-content: space-around;
}

@media print {
    @page {
        size: A4 landscape;
    }

    table tfoot {
        display: table-row-group;
        page-break-inside: avoid;
    }

    table tfoot tr {
        page-break-inside: avoid;
    }

    .report-table tbody tr td,
    .report-table tfoot tr td {
        padding: 1px 8px;
    }
}

.text-red {
    color: #ff3860;
}

.d-flex {
    display: flex !important;
}

.justify-space-around {
    justify-content: space-around;
}

.mt-5 {
    margin-top: 5rem;
}

/* Required CSS */
.required-field {
    color: red;
}

.back-arrow {
    text-decoration: none; /* Remove underlines from the link */
    color: black;         /* Set the color to black*/
}

/* Optional: Hover effect */
.back-arrow:hover {
    color: gray; /* Change the color when hovered */
}

span.title {
    font-weight: bold;
    padding-right: 15px;
}

.single-container {
    margin-bottom: 15px;
}

/* Description Title */

.table-container {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.desc-title, .description {
    display: table-cell;


}

.desc-title {
    font-weight: bold;
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
    padding-right: 15px;
}

.description {
    width: 99%;
}



